body {
  background-image: url(images/IITH_Building.jpg);
  background-size: cover;
}
.building {
  text-align: end;
}
.building img {
  height: calc(100vh - 80px);
  width: 100%;
}
.test {
  height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.656);
  position: relative;
  top: 50%;
  left: 30%;
}
.test p {
  text-align: center;
}
