body {
  background-image: url(images/IITH_Building.jpg);
  background-size: cover;
}

.content {
  max-width: 70%;
  background-color: rgba(255, 255, 255, 0.656);
  min-height: 50vh;
  margin: auto;
}
.test p {
  text-align: center;
}
