body {
  background-color: beige;
}

.member-info {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
.profile-img {
  border: 5px solid black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 0px;
}
.member-text {
  background-color: black;
  margin-top: -40px;
  color: aliceblue;
  border-radius: 50vh;

  word-wrap: break-word;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.member-text > :first-child {
  padding-top: 20px;
  margin-bottom: 0px;
  font-size: larger;
  font-weight: 600;
}
.member-text > :nth-child(2) {
  margin-top: 10px;
  padding-bottom: 10px;
  /* display: inline; */
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-auto-rows: 500px; */
  width: 80%;
  max-width: 1500px;
  gap: 50px;
  margin: 30px auto;
  justify-content: center;
  align-content: center;
}
